doctype html
html
  head
    title LTTimer
    style.
      * {
        height: 100%;
        width: 100%;
        margin: 0px;
      }
      h1 {
        font-size: 40vw;
      }
  body
    h1#timer(time=300, align="center")
      span#minits 0
      span#coron :
      span#seconds 00
      
  script(src="scripts/timer.js")
